/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Poppins:wght@300;400;500;600;700&display=swap");

/* Base Style or Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

/* Header Section Style */
#header-style {
  max-width: 1320px;
  background-image: url(../assets/images/Banner\ Image.png);
  background-repeat: no-repeat;
  margin: 25px auto 0px auto;
}
.banner {
  text-align: center;
  padding: 200px 0px;
  /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.25) 100%); */
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 16px;
}
.banner-head1 {
  color: white;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
}
.banner-head3 {
  /* background: linear-gradient(to top, #fe2e17, #f0cb35);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
  color: white;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  font-family: "Merriweather", serif;
}

/* Main Section Style */
#main-style {
  max-width: 1320px;
  margin: 120px auto;
}
/* Offer Section Style */
.offer {
  text-align: center;
}
.offer-head1 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 40px;
}
.offer-head2 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.offer-head3 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}
/* Welcome Party Style */
.welcome-party {
  background-image: url(../assets/images/Vectorrr.png);
  background-repeat: no-repeat;
  margin: 120px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.welcome-greeting {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  padding: 140px 0px 140px 120px;
  border-radius: 16px;
}
.welcome-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.welcome-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0px;
}
.btn-join {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 20px;
}
.welcome-img > img {
  padding-right: 120px;
}
/* Party Time Style */
.party-time {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 0px;
  border-radius: 16px;
  text-align: center;
}
.party-time h3 {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.party-time h3 > span {
  color: #ff0000;
}
.join-now-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 32px;
  background-color: #ff0000;
  border: none;
  border-radius: 8px;
  margin-top: 40px;
  cursor: pointer;
}
/* Coming Soon Style */
.coming-soon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  grid-gap: 50px;
  margin: 120px 0px;
}
.best-offer {
  margin: auto 0px;
}
.best-offer h3 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.best-offer h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin: 10px 0px;
}
.best-offer p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.best-offer-img {
  border: 15px solid #f00;
  border-radius: 50%;
  padding: 30px;
}
.new-year h3 {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
}
.new-year p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 15px 0px;
}
